@model IEnumerable<Page>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table Clasificación" id="pages">
    <thead>
        <tr class="Inicio">

            <th>
                Titulo
            </th>
            <th>
                Slug
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">

                <td>
                    @item.Titulo
                </td>
                <td>
                    @item.Slug
                </td>

                <td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |

                    @if (item.Slug != "Inicio")
                    {
                        <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $("table#pages tbody").sortable({
            items: "tr:not(.Inicio)",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#pages tbody").sortable("serialize");
                let url = "/admin/pages/reorder";

                $.post(url, ids, function () { });
            }
        })

    </script>
}
